[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
black = "==22.3.0"
pylint = "*"
bandit = "~=1.7.0"

[packages]
"discord.py" = {ref = "40176bb71b903461499c74e6f55247a3d71ac0cb", git = "https://github.com/Rapptz/discord.py.git"}
PyYAML = "==5.4.1"
aiohttp = "~=3.8"
colorama = "~=0.4.4"
dadjokes = "*"
dnspython = "~=2.1.0"
emoji = "~=1.6.3"
isodate = "~=0.6.0"
motor = "~=2.5.1"
natural = "~=0.2.0"
parsedatetime = "~=2.6"
pipenv = "*"
python-dateutil = "~=2.8.1"
python-dotenv = "~=0.20.0"
uvloop = {version = ">=0.15.2", markers = "sys_platform != 'win32'"}

[scripts]
bot = "python bot.py"
